{
  "extends": [
    "stylelint-config-smarthr",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "function-whitespace-after": null,
    "value-list-comma-space-after": null
  }
}
